<BODY>
    <div class="customcss">
        <span>{{username}} your score is {{score}}!</span>
        <form >
            <br>
            <input type="submit" value="view result" formaction="/examapp/viewResult/">
        </form>
    </div>
</BODY>

<style>
    BODY{
        align-items: center;
        justify-content: center;
    }
    span{
        color:red;
        font-size: larger;
    }
    .customcss{
        align-items: center;
        justify-content: center;
        display: grid;
    }
</style>


